{{ form_start(form)}}
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">
        {% if transactionType is defined %}
            Update {{ transactionType.name }}
        {% else %}
            New Transaction Type
        {% endif %}
    </h2>
    <div class="mb-2">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="flex items-center justify-between mt-8">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            {% if transactionType is defined %}
                Update
            {% else %}
                Add
            {% endif %}
        </button>
    </div>
{{ form_end(form) }}
